<div class="card">
  <h2 class="title title-bottom-margin">Edit account receivable</h2>
  <% unless @account_receivable.canceled? %>
    <%= render "form" %>
  <% end %>
  <hr>
  <%= render "update_status_form" %>
</div>
