<section class="card">
  <h1 class="title">Accounts receivable</h1>
  <hr>
  <ul class="flex flex-col gap-2">
    <% @account_receivables.each do |account| %>
      <li class="inner-card inner-card-hover leading-none">
        <%= link_to account_receivable_path(account) do %>
          <div class="mb-2">
            <p class="inner-card-top-label"><%= account.debtor %></p>
          </div>
          <div class="text-sm">
            <div class="description-row">
              <p class="inner-card-field">Balance:</p>
              <p><%= render "shared/balance", value: account.balance %></p>
            </div>
            <div class="description-row">
              <p class="inner-card-field">Status:</p>
              <p><%= render "status", account_receivable: account %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
