<%= render "shared/breadcrumbs", dataset: breadcrumbs_for(:account_receivables, :new) %>
<div class="card">
  <h2 class="title title-bottom-margin">New account receivable</h2>
  <%= render "form" %>
</div>
