<div class="flash" data-controller="flash">
  <div class="notice hidden" data-flash-target="notice">
    <p data-flash-target="noticeText"><%= notice %></p>
  </div>
  <div class="alert hidden" data-flash-target="alert">
    <p data-flash-target="alertText"><%= alert %></p>
  </div>
</div>
