<div data-controller="flash">
  <div class="notice hidden" data-flash-target="notice">
    <div>
      <p data-flash-target="noticeText"><%= notice %></p>
    </div>
  </div>
  <div class="alert hidden" data-flash-target="alert">
    <div>
      <p data-flash-target="alertText"><%= alert %></p>
    </div>
  </div>
</div>
