<div>
  <section class="card">
    <h2 class="title">Wallet</h2>
    <hr>
    <%= render "dashboards/current_budget" %>
    <hr>
    <%= render "dashboards/last_account_receivable" %>
  </section>
</div>
