<%= render "shared/breadcrumbs", dataset: breadcrumbs_for(:todos, :show) %>
<section class="card">
  <h2 class="title">Todo</h2>
  <div class="links-container flex items-center justify-between">
    <%= link_to "Edit", edit_todo_path(@todo) %>
    <%= button_to "Delete", todo_path(@todo), method: :delete, class: "link-danger" %>
  </div>
  <hr>
  <div class="inner-card">
    <div class="flex justify-between items-center text-sm">
      <%= @todo.title %>
    </div>
  </div>
</section>
